
CampusMap.png
discretizersGpsData.txt
gpsData.csv
organizingRawDataScript.mlx
rawData/Arboretum B.mat
rawData/college of Agriculture.mat
rawData/Dairy Road 10Hz.mat
rawData/East Meyer.mat
rawData/hutchinson.mat
rawData/internationalCenter.mat
rawData/kemper.mat
rawData/parking lot 63.mat
rawData/primeroGrove.mat
rawData/roundabout behind softball field.mat
rawData/side of shields 10Hz.mat
